## Java ##
*.class

# Package Files #
*.war
*.ear

### Gradle ###
# Excluded Folder List #
build/

#PDT-specific
.buildpath

### IntelliJ ###
*.iml
*.ipr
*.iws
.idea/

resources/application.properties

/bin